@page "/greeting"
@rendermode InteractiveServer

<div class="main-bg">

    <div class="card-container">

        <div class="top-icon">💜</div>

        <h1>Welcome</h1>

        <p class="desc">
            Enter your name and receive a beautiful greeting ✨
        </p>
        <input type="text"
               placeholder="Type your name here..."
               @bind="UserName" />

        <div class="result-box">
            <h2>Hello, @UserName 🌸</h2>
        </div>

    </div>

</div>

@code {
    string UserName = "";
}
<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body {
        overflow: hidden;
    }

    .main-bg {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, #0f172a, #1e293b, #312e81, #4c1d95);
    }



