@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="home-container">

    <div class="home-card">

        <h1>🚀 Greeting App</h1>

        <p>
            Welcome! Click below to open Greeting Application.
        </p>

        <a class="btn" href="/greeting">
            Go to Greeting Page
        </a>

        <div class="footer">
            Built with Blazor 💜
        </div>

    </div>

</div>
<style>

    body {
        margin: 0;
        font-family: 'Segoe UI', sans-serif;
        background: linear-gradient(135deg, #0f172a, #1e293b);
    }

    .home-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
       .home-card {
        width: 420px;
        padding: 40px;
        border-radius: 25px;
        background: rgba(255,255,255,0.08);
        backdrop-filter: blur(15px);
        border: 1px solid rgba(255,255,255,0.15);
        text-align: center;
        color: white;
        box-shadow: 0 10px 40px rgba(0,0,0,0.4);
    }
     h1 {
        margin-bottom: 10px;
        font-size: 32px;
    }

    p {
        color: #cbd5e1;
        margin-bottom: 25px;
    }

    .btn {
        display: inline-block;
        padding: 12px 20px;
        background: #a855f7;
        color: white;
        text-decoration: none;
        border-radius: 12px;
        transition: 0.3s;
        font-weight: bold;
    }

