@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="home-container">

    <div class="home-card">

        <h1>🚀 Greeting App</h1>

        <p>
            Welcome! Click below to open Greeting Application.
        </p>

        <a class="btn" href="/greeting">
            Go to Greeting Page
        </a>

        <div class="footer">
            Built with Blazor 💜
        </div>

    </div>

</div>
<style>

    body {
        margin: 0;
        font-family: 'Segoe UI', sans-serif;
        background: linear-gradient(135deg, #0f172a, #1e293b);
    }

    .home-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }